.hide{
    display: none !important;
}

.show{
    display: block;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.container-logo{
    width: 45px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.contenido-carrito {
    width: 380px;
    min-height: 100vh;
    position: absolute;
    right: 0;
    background-color: white;
    z-index: 10;
}

.container-logo-carrito {
    position: relative;
}

#contadorElementosCarrito {
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    text-align: center;
    position: absolute;
    top: -5px;
    right: 1px;
    background-color: #2f4f4f;
    color: white;
    border-radius: 100%;
    font-size: 13px;
}

.fa-cart-shopping {
    cursor: pointer;
    font-size: 40px;
    position: relative;
}

strong{
    border-radius: 50px;
    font-size: 20px;
}

#textoCarritoVacio{
    color: black;
    text-align: center;
}

.contenido-carrito > a {
    text-decoration: none;
    text-align: center;
    width: auto;
    color: white;
    background-color: darkslategray;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    padding: 4px 0px;
    width: 90%;
}