.card-body-carrito{
    padding: 15px 12px;
}

.container-informaciones{
    width: 200px;

    .container-unidades{
        height: 40px;
        justify-content: flex-start;
        align-items: center;

        p{
            margin: 0px 8px;
        }

        .fa-solid{
            border: solid 1px black;
            height: 20px;
            border-radius: 50%;
            padding: 1px 2px;
            cursor: pointer;
        }
    }
}

.container-borrar{
    margin-left: 6px;

    .fa-trash{
        cursor: pointer;
        border: 1px solid black;
        border-radius: 50%;
        padding: 4px;
        background-color: gray;
        color: darkslategray;
    }
}

#tituloTotal{
    margin-left: 19px;
}